@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}
html {
  font-size: 62.5%;
  cursor: pointer;
  overflow: hidden;
}
body {
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
}
.card {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}
.logo {
  position: relative;
  background: url("../img/logo.png") no-repeat;
  width: 48%;
  height: 80rem;
  background-size: 98%;
  margin-top: 13rem;
  margin-left: 5rem;
}
.content {
  position: relative;
  left: 1rem;
  top: 30rem;
}
.content h1 {
  color: #ef2f62;
  font-family: "Raleway";
  font-size: 13rem;
  font-weight: 800;
  -webkit-text-stroke: 1px white;
}
.content h2 {
  color: white;
  font-size: 3.5rem;
}
.content .btn-play {
  background-color: white;
  z-index: 4;
  width: 15rem;
  border-radius: 3rem;
  border: none;
  height: 4.5rem;
  text-align: center;
  vertical-align: middle;
  font-size: 2rem;
  color: black;
}
a {
  text-decoration: none;
}
.content .btn-play a:hover {
  cursor: pointer;
  text-decoration: none;
}
span {
  position: relative;
  z-index: 1;
  right: 0rem;
  bottom: 0;
  font-size: 40rem;
  font-weight: 700;
  color: white;
  opacity: 0.3;
}
@media only screen and (max-width: 1600px) {
  .content {
    top: 20rem;
  }
  span{
    bottom: 0rem;
    font-size: 35rem;
  }
}