@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap");
/* Login's  Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(45deg, #5300ac, #bd3198);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  font-family: "Raleway";
}
.section {
  position: relative;
  max-width: 192rem;
  width: 80%;
  height: 90%;
  background: url("../img/bg game.png") no-repeat;
  background-color: white;
  border-radius: 20px;
  background-size: cover;
  background-position: right;
  animation: Float 1.5s;
}

#error {
  width: 30rem;
  height: 2rem;
  font-size: 1.5rem;
  color: red;
  margin: 0 auto;
}
.section_form_title {
  font-weight: 700;
  font-size: 3.5rem;
  color: #f89287;
}
.social_btn {
  margin-top: 2rem;
  align-items: center;
  display: flex;
  padding: 1rem;
  justify-content: center;
}
.social_btn > svg {
  padding: 0.5rem;
  font-size: 4.5rem;
  color: white;
}
.social_btn > a {
  margin-left: 2rem;
  color: white;
  border: 1px solid gray;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_container {
  position: relative;
  width: 35rem;
  border-bottom: 1px solid rgb(241, 130, 66);
}
.input_container > svg {
  position: absolute;
  top: 20px;
  color: #f89287;
}
.form {
  margin: 12.5rem 2.5rem;
}
.input_container > input {
  font-weight: 300;
  color: black;
  padding: 1.25rem 1.5rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}
.input_container > input::placeholder {
  color: #f89287;
}
.form input:focus {
  outline: none;
}
.form button {
  width: 10rem;
  margin-top: 1rem;
  padding: 0.75rem 0.5rem;
  border: 1px solid transparent;

  font-size: 1rem;
}
#btn_signin {
  background-color: #f89287;
}
#btn_signin:hover {
  border: 1px solid #f89287;
  background-color: transparent;
}
@keyframes Float {
  0% {
    right: -200px;
  }
  100% {
    right: 0px;
  }
}
